/cmake-build-debug
/engine/graphics/shaders/frag.spv
/engine/graphics/shaders/vert.spv
/engine/graphics/shaders/point_light_frag.spv
/engine/graphics/shaders/point_light_vert.spv
/engines/graphics/shaders/*.spv
/.idea